.about-us-container {
  display: flex;
  justify-content: center;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}
.about-us-title-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #243b30;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.about-us-par {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  text-align: justify;
  letter-spacing: 0em;
  margin-top: 20px;
  color: #000000;
}
@media only screen and (max-width: 600px) {
  .about-us-par {
    margin-left: 20px;
    margin-right: 20px;
  }
  .about-us-title-text {
    font-size: 20px;
    margin-top: 10px;
  }
}
