/* empty basket: */
.bkt-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.basket-title-empty {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #243b30;
  margin-top: 80px;
  text-align: center;
}
.basket-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #243b30;
  margin-top: 80px;
  text-align: center;
}
.bkt-line {
  background-color: #bbbbbb;
  height: 1px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}
.basket-info {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #243b30;
  margin-top: 30px;
}
.shop-button {
  width: 350px;
  height: 40px;
  background-color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 100px;
  border: none;
  letter-spacing: 0.02em;
  margin-top: 5px;
  color: #ffffff;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: 500px;
}
.shop-button:active {
  background-color: #375748;
}

/* basket with items: */

.bkt-container-items {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 170px;
}

.bkt-title-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.bkt-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
  color: #243b30;
}
.bkt-items {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #243b30;
}
.bkt-summary-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.bkt-card-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bkt-summary-card-container {
  margin-left: 70px;
}

@media only screen and (max-width: 600px) {
  .bkt-container-items-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .bkt-summary-container {
    flex-direction: column;
    align-items: center;
  }

  .bkt-summary-card-container {
    margin: 0;
    width: 100%;
  }

  .bkt-title {
    font-size: 20px;
  }

  .bkt-title-items {
    margin-bottom: 15px;
  }
  .basket-title-empty {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #243b30;
    margin-top: 80px;
    text-align: center;
  }
  .bkt-line {
    background-color: #bbbbbb;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;
    width: 70%;
    max-width: 600px;
    margin-top: 30px;
  }
  .shop-button {
    margin-bottom: 350px;
  }
  .bkt-title-items {
    margin-top: 10px;
  }
}
