/* Opening hours */
.container-footer {
  display: flex;
  flex-direction: row;
}
.opening-hours-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.hours-adress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening-hours {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.02em;
}
.location {
  color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.02em;
}

.adress {
  margin-bottom: 3px;
  color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.02em;
}
.google-maps-link {
  font-family: "Helvetica";
  margin-bottom: 12px;
  color: #243b30;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.02em;
  text-decoration: underline;
}
.day-hour {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.02em;
}
.location-islington {
}

.sunday-islington {
  margin-bottom: 100px;
}
/* Footer line */
.footer-divider {
  background-color: #bbbbbb;
  width: 1px;
  margin-top: 30px;
  margin-bottom: 50px;
}
/* Contact us */
.container-contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contact-us-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-us {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.02em;
}
.contact-location {
  color: #243b30;
  margin-bottom: 10px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.02em;
}
.contact-location-islington {
  margin-top: 25px;
}
.phone-number {
  font-family: "Helvetica";
  color: #243b30;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
}
.address-logo {
  height: 25px;
  width: 25px;
  align-self: center;
}
.container-adress-png {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
@media only screen and (max-width: 600px) {
  .contact-us-container {
    margin-bottom: 30px;
  }
  .container-footer {
    flex-direction: column;
  }
  .footer-divider {
    background-color: #bbbbbb;
    width: 250px;
    height: 1px;
    align-self: center;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .sunday-islington {
    margin-bottom: 0px;
  }
  .contact-us {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .opening-hours {
    margin-top: 15px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .location {
    font-size: 19px;
  }
  .adress,
  .day-hour {
    font-size: 15px;
  }
  .google-maps-link {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .address-logo {
    margin-bottom: 3px;
  }
  .container-adress-png {
    margin-bottom: 3px;
  }
  .container-address-png-islington {
    margin-top: 3px;
  }
  .address-logo {
    height: 15px;
    width: 15px;
  }
  .contact-location {
    font-size: 19px;
    margin-bottom: 0px;
  }
  .phone-number {
    font-size: 15px;
  }
  .contact-location-islington {
    margin-top: 0px;
  }
}
