.plants-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.center-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indoor-column {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 60px;
  margin-right: 60px;
}

.border-plants-margin {
  margin-top: 20px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container-center {
  justify-content: center;
}
.indoor-plants-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  color: #243b30;
}
.plants-characteristics {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: #243b30;
}
.button-view-more {
  width: 30%;
  height: 40px;
  display: flex;
  margin-top: 30px;
  background-color: #243b30;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.button-view-more:active {
  background-color: #375748;
}
.btn-view-more-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .plants-section {
    flex-direction: column;
  }

  .indoor-column {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .title-container {
    justify-content: center;
  }
  .indoor-plants-title {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
  .plants-characteristics {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .button-view-more {
    width: 50%;
  }
}
