.plants-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indoor-column {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 60px;
  margin-right: 60px;
}

.border-plants-margin {
  margin-top: 20px;
}

.title-container {
  height: 130px;
  display: flex;
  align-items: center;
}

.title-container-center {
  justify-content: center;
}
.indoor-plants-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  color: #243b30;
}
.plants-characteristics {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: #243b30;
}
.button-view-more {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 30px;
  background-color: #243b30;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.button-view-more:active {
  background-color: #375748;
}
